* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f6f6f6;
  --foreground-color: radial-gradient(circle, rgba(2,26,32,1) 0%, rgba(0,99,126,1) 100%);
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
  --gradient: linear-gradient(208deg, rgb(47, 42, 116) 0%, rgba(77,23,121,1) 100%);
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: var(--gradient);
}

.title {
  color: var(--primary-text-color);
}

#box {
  border-radius: 12px;
  max-width: 380px;
  background-color: var(--foreground-color);
  color: var(--secondary-text-color);
  box-shadow: 0 1px 40px rgba(0, 0, 0, 0.653);
}

[data-theme="dark"] {
  --background-color: rgba(40,42,54,255);
  --foreground-color: #1c1f21;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}

/* Styles to switch between dark mode - light mode */
.toggle-container {
  width: 200px;
  top: 2em;
  right: 2em;
}

.toggle {
  visibility: hidden;
}

.toggle+label {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--primary-text-color);
}

.toggle+label::before {
  content: "";
  height: 1em;
  width: 2em;
  border-radius: 1em;
  background-color: var(--toggle-bg);
  margin-right: 0.5em;
  transition: background-color 250ms ease-in-out;
}

.toggle+label::after {
  content: "";
  height: 0.8em;
  width: 0.8em;
  border-radius: 1em;
  background-color: var(--toggle-fg);
  position: absolute;
  left: 0.2em;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.toggle:checked+label::after {
  transform: translateX(100%);
}

.custom-botton {
  background-color: #00a6ff !important;
}

.custom-input {
  padding: 4px;
  width: 100%;
  border-radius: 5px !important;
}

.custom-input:focus,
.custom-input:active {
    outline: none !important;
}

.Header .navbar-nav .nav-link {
  color: #ffffff !important; /* Color blanco */
}

#list-of-rooms {
  
  width: 100%;
  background-color: #1c1f21;
  border-radius: 12px;
  min-height: 70px;
}

#custom-table {
  background-color: #1c1f21;
  border-radius: 12px;
}
#custom-table th {
  color: white;
}

#custom-table p {
  color: white;
}

#custom-table td {
  color: white;
}
